@charset "EUC-KR";

*{
	font-family: 'Fredoka One', cursive;
}
body{
	background-image:url('background.jpg');
	background-color:#D9E5FF;
	background-size:cover;
}
header{
	position:relative;
	width:auto;
	height:90px;
}
header h1{
	margin-left:30px;
	margin-top:25px;
	float:left;
	color:#04B404;
}

header #back{
	float:left;
	width:150px;
	height:80px;
	color:black;
	margin-left:980px;
	margin-top:20px;
	font-size:25px;
}

aside#left{
	float:left;
	margin-top:0px;
	margin-left:-10px;
}

aside#left ul li{
	list-style: none;
	text-align: center;
	margin-left: 20px;
	margin-top:25px;
	width: 120px;
	height: 120px;
	border:solid 3px;
	border-radius: 10%;
	background : white;
}

section#main{
	float:left;
	margin-top:30px;
	margin-left:40px;
	width: 820px;
	height: 550px;
	background-image:url('svgnote.jpg');
	background-color:#D9E5FF;
	background-size: contain;
}
aside#right{
	float:left;
}
aside#right #time{
	float:left;
	width: 120px;
	height: 70px;
	border:solid 3px;
	margin-top:30px;
	margin-left:40px;
	font-size:18px;
}
aside#right #score{
	float:left;
	width: 120px;
	height: 70px;
	border:solid 3px;
	margin-top:30px;
	margin-left:40px;
	font-size:18px;
}
aside#right #chat{
	width: 420px;
	height: 470px;
	border:solid 3px;
	margin-top:150px;
	margin-left:40px;
}

